.vscode
.github
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
Makefile

test
settings/sublime
settings/atom.cson
generator
misc
readmes

gel-ls-vscode/package.json
gel-ls-vscode/package-lock.json
gel-ls-vscode/out
gel-ls-vscode/node_modules
gel-ls-vscode/esbuild.js
