.vscode
.github
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
Makefile
.direnv
.envrc
flake.nix
flake.lock

test
settings/sublime
settings/atom.cson
generator
misc
readmes

edgedb-ls-vscode/package.json
edgedb-ls-vscode/package-lock.json
edgedb-ls-vscode/out/test
